* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7f9;
}
#app .login-container .login-title {
  background: #3296fa;
}
#app .login-container .login-title .van-nav-bar__title {
  color: #fff;
  font-size: 32px;
}
#app .home-container .home-title {
  background: #3296fa;
}
#app .home-container .home-title .van-nav-bar__title {
  color: #fff;
  font-size: 32px;
}
